# django Setting
SECRET_KEY = #your secret key for django project
DEBUG = #set to True for development, False for production

# DB toggle
USE_POSTGRES=#True #set to True if you want to use Postgres, False for SQLite

#caching
REDIS_URL = #use redis://container_name:6379/0 if you are using docker compose for redis

# postgress seting #only if postgres is set to true else skip this section
DB_NAME = #as per your Configuration in docker-compose.yaml
DB_USER = #your postgres username
DB_PASSWORD = #your postgres password
DB_HOST =   #your postgres host
DB_PORT =   #your postgres port


#cloudinary #optional but recommended for image storage and management skipping this will use local storage for images
CLOUD_NAME=
API_KEY=
API_SECRET=

#gmail #optional but recommended for email functionality especially for password reset and email verification skipping this will disable email functionality
SMTP_SERVER = #your SMTP server
SMTP_PORT = #your SMTP port
EMAIL_USE_TLS = #set to True if your SMTP server uses TLS
DEFAULT_EMAIL_FROM = #your default email address
APP_PASS = #your app password for the email account

#allowed origin
ALLOWED_ORIGINS = #your frontend ports links

#allowed_host
ALLOWED_HOSTS = * #dev purpose allow anyone typically keep it as localhost, for prod add prod links